<th:block layout:fragment="content" layout:decorate="~{home/layouts/index}">
    <div class="container hstack gap-3" style="margin-top: 64px">
        <div class="vstack gap-3" style="width: 40%">
            <div class="border p-3 rounded-3 bg-light shadow">
                <h3>CHI TIẾT ĐẶT PHÒNG</h3>
                <p>Phòng được chọn</p>
                <div class="hstack gap-3">
                    <a href="#" style="width: 40%">
                        <img src="https://eleganttechbd.com/luxury/luxury/assets/images/booking-details-widget.jpg"
                            alt="">
                    </a>
                    <div style="width: 60%">
                        <h4>Double Room</h4>
                        <p>$ 120/ per nignt</p>
                    </div>
                </div>
                <div class="hstack gap-3 mt-4">
                    <div style="width: 40%">
                        <h4>CHECK IN</h4>
                        <p>4/1/2017</p>
                        <h4>NGƯỜI LỚN</h4>
                        <p>2</p>
                        <h4>ĐÊM</h4>
                        <p>3</p>
                    </div>
                    <div style="width: 60%">
                        <h4>CHECK OUT</h4>
                        <p>4/1/2017</p>
                        <h4>TRẺ RM</h4>
                        <p>2</p>
                        <h4>TỔNG GIÁ</h4>
                        <p>$ 120</p>
                    </div>
                </div>
            </div>
            <div class="vstack gap-3 border p-3 rounded-3 shadow bg-light">
                <h3>NEED HELP FOR BOOKING !</h3>
                <h3>+123 456 789</h3>
                <p>help@luxuryhotel & resort.com</p>
            </div>
        </div>
        <div class="vstack gap-3 p-3 border rounded bg-light"  style="width: 60%">
            <h3>THÔNG TIN CÁ NHÂN</h3>
            <h4>Đơn đặt phòng</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat.</p>

            <div class="hstack gap-3">
                <div class="form-floating w-50">
                    <input type="datetime" class="form-control" id="start-date" placeholder="Ngày đặt"
                        name="start-date" required>
                    <label for="start-date">Ngày đặt</label>
                    <p class="text-danger text-center" id="start-date-message" style="font-size: 12px"></p>
                </div>
                <div class="form-floating w-50">
                    <input type="datetime" class="form-control" id="end-date" placeholder="Ngày trả" 
                    name="end-date" required>
                    <label for="end-date">Ngày trả</label>
                    <p class="text-danger text-center" id="end-date-message" style="font-size: 12px"></p>
                </div>
            </div>

            <div class="hstack gap-3">
                <div class="form-floating w-50">
                    <input type="number" class="form-control" id="adults" placeholder="Người lớn"
                        name="adults" required  min="1" max="20">
                    <label for="adults">Người lớn</label>
                    <p class="text-danger text-center" id="adults-message" style="font-size: 12px"></p>
                </div>
                <div class="form-floating w-50">
                    <input type="number" class="form-control" id="children" placeholder="Trẻ em" name="children"
                        required min="1" max="20">
                    <label for="children">Trẻ em</label>
                    <p class="text-danger text-center" id="children-message" style="font-size: 12px"></p>
                </div>
            </div>

            <div class="hstack gap-3">
                <div class="form-floating w-50">
                    <input type="text" class="form-control" id="name" placeholder="Họ & tên"
                        name="name" required>
                    <label for="name">Họ & tên</label>
                    <p class="text-danger text-center" id="name-message" style="font-size: 12px"></p>
                </div>
                <div class="form-floating w-50">
                    <input type="text" class="form-control" id="address" placeholder="Địa chỉ" name="address"
                        required>
                    <label for="address">Địa chỉ</label>
                    <p class="text-danger text-center" id="address-message" style="font-size: 12px"></p>
                </div>
            </div>

            <div class="hstack gap-3">
                <div class="form-floating w-50">
                    <input type="email" class="form-control" id="email" name="email"
                        placeholder="name@gmail.com" required>
                    <label for="email">Email</label>
                    <p class="text-danger text-center" id="email-message" style="font-size: 12px"></p>
                </div>
                <div class="form-floating w-50">
                    <input type="text" class="form-control" id="phoneNum" placeholder="Số điện thoại"
                        name="phoneNum" required>
                    <label for="phoneNum">Số điện thoại</label>
                    <p class="text-danger text-center" id="phoneNum-message" style="font-size: 12px"></p>
                </div>
            </div>

            <div class="hstack gap-3">
                <div class="form-floating w-50">
                    <input type="date" class="form-control" id="birthday" placeholder="Ngày sinh"
                        name="birthday">
                    <label for="birthday">Ngày sinh</label>
                    <p class="text-danger text-center" id="birthday-message" style="font-size: 12px"></p>
                </div>
                <div class=" form-floating w-50">
                    <select class="form-select form-select-gender" id="gender"
                        aria-label="Floating label select example" name="gender">
                        <option value="">Chọn giới tính</option>
                        <option value="true">Nam</option>
                        <option value="false">Nữ</option>
                    </select>
                    <label for="gender">Giới tính</label>
                    <p class="text-danger text-center" id="gender-message" style="font-size: 12px"></p>
                </div>
            </div>

            <div class="vstack gap-3">
                <label for="editor2">Thông tin riêng</label>
                <textarea class="form-control" style="height: 100px" name="editor1" id="editor1"></textarea>
            </div>

            <div class="hstack gap-3">
                <button type="button" class="btn btn-secondary btn-lg">Đổi phòng</button>
                <button type="button" class="btn btn-primary btn-lg">Đặt phòng</button>
            </div>
        </div>
    </div>
    
    <script>
        CKEDITOR.replace('editor1')
        var $ = document.querySelector.bind(document)
        var $$ = document.querySelectorAll.bind(document)

    </script>
</th:block>