<th:block layout:fragment="content" layout:decorate="~{home/layouts/index}">
    <div class="container">
        <h3 class="text-primary" style="margin-top: 200px">CHI TIẾT ĐẶT PHÒNG</h3>
        <hr>
        <div class="hstack gap-3">
            <div class="vstack gap-3" style="width: 35%">
                <div class="border p-3 rounded-3 bg-light shadow">
                    <h3>CHI TIẾT HÓA ĐƠN</h3>
                    <p>Phòng được chọn</p>
                    <div class="hstack gap-3 mt-4">
                        <div style="width: 40%">
                            <a href="#">
                                <img style="width: 100%" th:src="${room_type.logo}" alt="">
                            </a>
                        </div>
                        <div style="width: 60%" class="align-self-start">
                            <h4>[[${room_type.name}]]</h4>
                            <p>$ [[${room_type.price}]]/ Đêm</p>
                        </div>
                    </div>
                    <div class="vstack gap-3 mt-4">
                        <div class="hstack gap-3 d-flex justify-content-between">
                            <p class="fw-bold">Ngày đặt phòng</p>
                            <p>09-10-2019</p>
                        </div>
                        <div class="hstack gap-3 d-flex justify-content-between">
                            <p class="fw-bold">Ngày trả phòng</p>
                            <p>15-10-2019</p>
                        </div>
                        <div class="hstack gap-3 d-flex justify-content-between">
                            <p class="fw-bold">Người lớn</p>
                            <p>4</p>
                        </div>
                        <div class="hstack gap-3 d-flex justify-content-between">
                            <p class="fw-bold">Trẻ em</p>
                            <p>1</p>
                        </div>
                        <div class="hstack gap-3 d-flex justify-content-between">
                            <p class="fw-bold">Loại phòng</p>
                            <p>4 x JUNIOR SUITE BALCONY</p>
                        </div>
                        <hr>
                        <div class="hstack gap-3 d-flex justify-content-between">
                            <p class="fw-bold">Giá phòng</p>
                            <p>09-10-2019</p>
                        </div>
                        <div class="hstack gap-3 d-flex justify-content-between">
                            <p class="fw-bold">Dịch vụ</p>
                            <p>15-10-2019</p>
                        </div>
                        <div class="hstack gap-3 d-flex justify-content-between">
                            <p class="fw-bold">Mã giảm giá</p>
                            <p>Không có</p>
                        </div>
                        <div class="hstack gap-3 d-flex justify-content-between">
                            <input type="text" class="form-control form-control-sm">
                            <button class="btn btn-primary btn-sm" style="min-width: 100px;">Áp dụng</button>
                        </div>
                        <hr>
                        <div class="hstack gap-3 d-flex justify-content-between">
                            <p class="fw-bold">Tổng</p>
                            <p>179$</p>
                        </div>
                        <div class="hstack gap-3 d-flex justify-content-between">
                            <p class="fw-bold">Phí dịch vụ: (5%)</p>
                            <p>37$</p>
                        </div>
                        <div class="hstack gap-3 d-flex justify-content-between">
                            <p class="fw-bold">VAT: (10%)</p>
                            <p>10%</p>
                        </div>
                        <div class="hstack gap-3 d-flex justify-content-between">
                            <p class="fw-bold">Tổng tiền</p>
                            <p>670$</p>
                        </div>
                    </div>
                </div>
                <div class="vstack gap-3 border p-3 rounded-3 shadow bg-light">
                    <h3>GIỎ HÀNG DỊCH VỤ</h3>
                    <ol class="list-group list-group-numbered mt-3" id="services-cart">
                        <li class="list-group-item d-flex justify-content-between align-items-start" id="test">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                <span class="badge bg-primary rounded-pill">14</span> x 20.5$
                            </div>
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="vstack gap-3 p-3 border rounded bg-light" style="width: 65%">
                <div>
                    <h3>Dịch vụ</h3>
                    <h4 class="mt-4">Danh sách các dịch vụ hỗ trợ khách hàng</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut
                        laoreet dolore magna aliquam erat volutpat.</p>

                    <th:block th:each="service, state : ${services}">
                        <div class="hstack gap-3 mt-3 border p-3 service-box">
                            <a href="#" style="width: 40%" class="align-self-start">
                                <img style="width: 290px;" th:src="${service.image}" alt="${service.name}">
                            </a>
                            <div style="width: 60%" class="align-self-start">
                                <h4>[[${service.name}]]</h4>
                                <div class="hstack gap-3 d-flex align-items-center">
                                    <input class="form-control form-control-sm" type="number" style="width: 15%" min="0"
                                        max="10" id="num-service">
                                    <p style="margin-bottom: 0px">[[${service.price}]]$</p>
                                </div>
                                <p>[[${service.description}]]</p>
                            </div>
                        </div>
                    </th:block>

                </div>
                <div>
                    <h3>THÔNG TIN CÁ NHÂN</h3>
                    <h4 class="mt-4">Đơn đặt phòng</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut
                        laoreet dolore magna aliquam erat volutpat.</p>

                    <div class="hstack gap-3">
                        <div class="form-floating w-50">
                            <input type="datetime-local" class="form-control" id="start-date" placeholder="Ngày đặt"
                                name="start-date" required>
                            <label for="start-date">Ngày đặt</label>
                            <p class="text-danger text-center" id="start-date-message" style="font-size: 12px"></p>
                        </div>
                        <div class="form-floating w-50">
                            <input type="datetime-local" class="form-control" id="end-date" placeholder="Ngày trả"
                                name="end-date" required>
                            <label for="end-date">Ngày trả</label>
                            <p class="text-danger text-center" id="end-date-message" style="font-size: 12px"></p>
                        </div>
                    </div>

                    <div class="hstack gap-3">
                        <div class="form-floating w-50">
                            <input type="number" class="form-control" id="adults" placeholder="Người lớn" name="adults"
                                required min="1" max="20">
                            <label for="adults">Người lớn</label>
                            <p class="text-danger text-center" id="adults-message" style="font-size: 12px"></p>
                        </div>
                        <div class="form-floating w-50">
                            <input type="number" class="form-control" id="children" placeholder="Trẻ em" name="children"
                                required min="1" max="20">
                            <label for="children">Trẻ em</label>
                            <p class="text-danger text-center" id="children-message" style="font-size: 12px"></p>
                        </div>
                    </div>

                    <div class="hstack gap-3">
                        <div class="form-floating w-50">
                            <input type="text" class="form-control" id="name" placeholder="Họ & tên" name="name"
                                required>
                            <label for="name">Họ & tên</label>
                            <p class="text-danger text-center" id="name-message" style="font-size: 12px"></p>
                        </div>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control" id="address" placeholder="Địa chỉ" name="address"
                                required>
                            <label for="address">Địa chỉ</label>
                            <p class="text-danger text-center" id="address-message" style="font-size: 12px"></p>
                        </div>
                    </div>

                    <div class="hstack gap-3">
                        <div class="form-floating w-50">
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="name@gmail.com" required>
                            <label for="email">Email</label>
                            <p class="text-danger text-center" id="email-message" style="font-size: 12px"></p>
                        </div>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control" id="phoneNum" placeholder="Số điện thoại"
                                name="phoneNum" required>
                            <label for="phoneNum">Số điện thoại</label>
                            <p class="text-danger text-center" id="phoneNum-message" style="font-size: 12px"></p>
                        </div>
                    </div>

                    <div class="hstack gap-3">
                        <div class="form-floating w-50">
                            <input type="date" class="form-control" id="birthday" placeholder="Ngày sinh"
                                name="birthday">
                            <label for="birthday">Ngày sinh</label>
                            <p class="text-danger text-center" id="birthday-message" style="font-size: 12px"></p>
                        </div>
                        <div class=" form-floating w-50">
                            <select class="form-select form-select-gender" id="gender"
                                aria-label="Floating label select example" name="gender">
                                <option value="">Chọn giới tính</option>
                                <option value="true">Nam</option>
                                <option value="false">Nữ</option>
                            </select>
                            <label for="gender">Giới tính</label>
                            <p class="text-danger text-center" id="gender-message" style="font-size: 12px"></p>
                        </div>
                    </div>

                    <div class="vstack gap-3">
                        <label for="editor2">Thông tin riêng</label>
                        <textarea class="form-control" style="height: 100px" name="editor1" id="editor1"></textarea>
                    </div>
                </div>

                <div class="hstack gap-3">
                    <a href="/home/room" class="btn btn-secondary btn-lg">Đổi phòng</a>
                    <a href="/home/service" class="btn btn-primary btn-lg">Đặt phòng</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        CKEDITOR.replace('editor1')
        var $ = document.querySelector.bind(document)
        var $$ = document.querySelectorAll.bind(document)

        var numServices = Array.from($$('#num-service'))
        var serviceBox = Array.from($$('.service-box'))
        var servicesCart = $('#services-cart')

        serviceBox.forEach((element) => {
            element.addEventListener('change', (e) => {
                if (element.parents('div#test').length) {
                    servicesCart.innerHTML = `
                        <li class="list-group-item d-flex justify-content-between align-items-start" id="">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                <span class="badge bg-primary rounded-pill">${e.target.value}</span> x 20.5$
                            </div>
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </li>`
                } else {
                    servicesCart.innerHTML += `
                        <li class="list-group-item d-flex justify-content-between align-items-start" id="">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                <span class="badge bg-primary rounded-pill">${e.target.value}</span> x 20.5$
                            </div>
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </li>`
                }
            })
        })



    </script>
</th:block>