<th:block layout:fragment="content" layout:decorate="~{home/layouts/index}">
    <div class="container">
        <h3 class="text-primary" style="margin-top: 200px">CHI TIẾT LOẠI PHÒNG</h3>
        <hr>
        <div class="vstack gap-3">
            <div class="hstack gap-3">
                <a href="#" style="width: 60%">
                    <img th:src="${room_type.logo}" alt="" style="width: 100%; min-height: 450px">
                </a>

                <form class="vstack gap-2 border bg-light shadow p-3" id="form-checkin" style="width: 30%; min-height: 450px"
                    enctype='multipart/form-data'>
                    <input type="hidden" id="id_room_type" th:value="${room_type.id}">
                    <input type="hidden" id="id-invoice" th:value="${ID_INVOICE}">
                    <h2 class="text-center text-primary">[[${room_type.name}]]</h2>
                    <h1 class="text-center fs-1">$[[${room_type.price}]]/Đêm</h1>
                    <div class="vstack gap-1">
                        <div class="form-floating w-100">
                            <input type="date" class="form-control" id="start-date" placeholder="Ngày đặt"
                                name="start-date" required>
                            <label for="start-date">Ngày đặt</label>
                            <p class="text-danger text-center" id="start-date-message" style="font-size: 12px"></p>
                        </div>
                        <div class="form-floating w-100">
                            <input type="date" class="form-control" id="end-date" placeholder="Ngày trả" name="end-date"
                                required>
                            <label for="end-date">Ngày trả</label>
                            <p class="text-danger text-center" id="end-date-message" style="font-size: 12px"></p>
                        </div>
                        <div class="hstack gap-3">
                            <div class="form-floating w-50">
                                <input type="number" class="form-control" id="adults" placeholder="Người lớn"
                                    name="adults" required min="1" max="10" value="1">
                                <label for="adults">Người lớn</label>
                                <p class="text-danger text-center" id="adults-message" style="font-size: 12px"></p>
                            </div>
                            <div class="form-floating w-50">
                                <input type="number" class="form-control" id="children" placeholder="Trẻ em"
                                    name="children" required min="1" max="10" value="1">
                                <label for="children">Trẻ em</label>
                                <p class="text-danger text-center" id="children-message" style="font-size: 12px"></p>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="btn-book-now" class="btn btn-warning btn-lg">TÌM PHÒNG</button>
                </form>
            </div>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                        data-bs-target="#description" type="button" role="tab" aria-controls="description"
                        aria-selected="true">Mô tả</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="result-tab" data-bs-toggle="tab" data-bs-target="#result" type="button"
                        role="tab" aria-controls="result" aria-selected="false">Nhận xét</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="other-tab" data-bs-toggle="tab" data-bs-target="#other" type="button"
                        role="tab" aria-controls="other" aria-selected="false">Phòng khác</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel"
                    aria-labelledby="description-tab">
                    <p>[[${room_type.description}]]</p>
                </div>

                <div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="result-tab">
                    <div class="list-group overflow-auto">
                        <div class="list-group-item list-group-item-action hstack gap-3" aria-current="true">
                            <img class="rounded-circle" style="width: 80px;"
                                src="https://hoc24.vn/images/avt/avt6384329_256by256.jpg" alt="">
                            <div class=" w-100">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Lee Min Hoo</h5>
                                    <small>3 days ago</small>
                                </div>
                                <p class="mb-1">Phòng rộng sạch đẹp Thoáng mát, xứng đáng 5 sao nhé :))</p>
                                <div class="text-warning">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">...</div>
            </div>
        </div>
    </div>

    <input type="hidden" id="room_type_id" th:value="${room_type.id}">

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 1000px; min-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Danh sách các phòng loại [[${room_type.name}]]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modal-form-room-list" class="vstack gap-3">
                        <!-- side code javascript -->
                    </div>
                </div>
                <div class="modal-footer" id="modal-btn-box">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var $ = document.querySelector.bind(document)
            var $$ = document.querySelectorAll.bind(document)

            var modalFormRoomList = $("#modal-form-room-list")
            var formCheckin = $('#form-checkin')

            var btnBookNow = $('#btn-book-now')

            var myModal = new bootstrap.Modal($('#staticBackdrop'), {
                keyboard: false
            })


            //Tạo hàm gọi api
            function fetchAPI(url, method, body) {
                
                fetch(url, {
                    method: method,
                    body: body
                })
                    .then(resp => {
                        if (resp.status === 200) {
                            if (resp.redirected) {
                                window.location.href = resp.url;
                            }
                        } else {
                            alert("Fail Validate!")
                        }
                    })
                    .catch(err => {
                        alert("Error!")
                    })
            }

            btnBookNow.addEventListener('click', (e) => {
                myModal.show()
                var formData = new FormData($('#form-checkin'))

                fetch(`http://localhost:8081/api/room/${$('#id_room_type').value}
                    /${Number(formData.get('adults')) + Number(formData.get('children'))}`)
                    .then(resp => resp.json())
                    .then(rooms => {
                        modalFormRoomList.innerHTML = ''
                        rooms.map((room, i) => {
                            modalFormRoomList.innerHTML += `
                            <div class="vstack gap-1 border rounded-3 bg-light shadow p-3">
                                <div class="hstack gap-3 d-flex justify-content-between">
                                    <div>
                                        <p>(${i}) Phòng ${room.name} - ${room.id}</p>
                                        <div class='hstack gap-3'>
                                            <p>Chi phí riêng: ${room.priceIncurred}$ </p>
                                            <p>Tầng: ${room.floor}</p>
                                            <p>Diện tích: ${room.area} m2</p>
                                            <p>Tối đa: ${room.customersNum} người</p>
                                        </div>
                                        <p>${room.description}</p>
                                        <div class="hstack gap-3">
                                            <a href="/home/deposit/${$('#room_type_id').value}" class="btn btn-primary">Đặt cọc</a>
                                            <a href="/home/checkin/${$('#room_type_id').value}" class="btn btn-primary">Đặt ngay</a>
                                        </div>    
                                    </div>
                                    <span class="badge rounded-pill bg-primary">${room.roomState}</span>
                                    <div class="form-check">
                                        <input class="form-check-input checkbox-all" type="checkbox" id="${room.id}" name="${room.id}">
                                        <label class="form-check-label" for="${room.id}">
                                            Đặt
                                        </label>
                                    </div>
                                </div>
                            </div>`

                            var checkboxAll = Array.from($$('.checkbox-all'))
                            var modalBtnBox = $('#modal-btn-box')


                            checkboxAll.forEach(element => {
                                element.addEventListener('change', e => {
                                    if (element.checked) {
                                        modalBtnBox.innerHTML = `
                                        <button class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                        <button id="btn-deposit" class="btn btn-info">Đặt cọc</a>
                                        <button id="btn-checkin-now" class="btn btn-success">Đặt ngay</button>`

                                        var btnCheckinNow = $('#btn-checkin-now')
                                        var btnDeposit = $('#btn-deposit')

                                        btnCheckinNow.addEventListener('click', e => {
                                            var formData = new FormData(formCheckin);

                                            var rooms = []
                                            var room = {}

                                            checkboxAll.forEach(element => {
                                                if (element.checked) {
                                                    room = { id: element.id }
                                                    rooms.push(room)
                                                }
                                            })


                                            formData.append('roomType', new Blob([JSON.stringify({
                                                'id': $('#room_type_id').value
                                            })], {
                                                type: 'application/json'
                                            }))

                                            formData.append('invoice', new Blob([JSON.stringify({
                                                'id': $('#id-invoice').value,
                                                'startDate': formData.get('start-date'),
                                                'endDate': formData.get('end-date'),
                                                'adults': formData.get('adults'),
                                                'children': formData.get('children'),
                                                'rooms': rooms
                                            })], {
                                                type: 'application/json'
                                            }))

                                            fetchAPI(`/home/checkin`, 'POST', formData)
                                        })
                                    }

                                    if (checkboxAll.every(element => { return !element.checked })) {
                                        modalBtnBox.innerHTML = `
                                        <button class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>`
                                    }
                                })
                            });
                        })
                    })
            })
        })
    </script>

</th:block>