<th:block layout:fragment="content" layout:decorate="~{home/layouts/index}">
    <div class="container bg-light my-4">

        <!-- Slider -->
        <th:block th:insert="home/fragments/slider.html :: slider"></th:block>

        <!-- check empty room -->
        <th:block th:insert="home/fragments/nav-checked.html :: nav_checked"></th:block>

        <div class="row">
            <div class="col-7">
                <h3 class="my-4 text-center text-primary">NOVOTEL DANANG PREMIER HAN RIVER</h3>
                <p class="text-justify">Đà Nẵng là một trong những thành phố sôi động và rực rỡ sắc màu nhất ở
                    Việt Nam. Nơi đây tự hào
                    khi được thiên nhiên ban tặng những bãi biển tuyệt đẹp với bờ cát mịn màng, tinh khôi nằm
                    trải
                    dài; có cảng hàng không Quốc tế hiện đại và nhiều địa điểm văn hóa nổi tiếng nằm trong nội
                    thành, để du khách có thể di chuyển thuận lợi. Chính vì thế, sẽ không có gì đáng ngạc nhiên
                    khi
                    thành phố xinh đẹp này lại thu hút nhiều mối quan tâm, cũng như sự yêu mến nồng hậu của du
                    khách
                    trong nước và quốc tế đến như vậy.</p>

                <p class="text-justify">Điểm nổi bật của thành phố trẻ đang vươn mình đổi thay từng ngày này –
                    chính là sự giao hòa giữa
                    thiên nhiên yên bình và nhịp sống hiện đại. Nơi đây có đầy đủ cơ sở hạ tầng và nhân lực để
                    hỗ
                    trợ bạn giải quyết vấn đề kinh doanh quan trọng một cách kịp thời, hay tổ chức hội nghị, kế
                    hoạch xúc tiến đầu tư mang tầm vóc quốc tế một cách hiệu quả. Đồng thời vẫn có thể mang đến
                    bạn
                    những phút giây thư thái giữa phong cảnh non nước hữu tình cùng gia đình, bạn bè. Chúng tôi
                    tự
                    hào khi sở hữu đầy đủ những thế mạnh đầy tiềm năng đó tại khách sạn Novotel Danang Premier
                    Han
                    River.</p>

                <p class="text-justify">Tọa lạc bên bờ Tây sông Hàn thơ mộng, liền kề với trung tâm hành chính
                    của Đà Nẵng, Novotel sở
                    hữu vị trí đắt địa và nhanh chóng trở thành điểm đến lý tưởng cho các doanh nhân lẫn du
                    khách.
                    Đây là khách sạn đầu tiên đạt tiêu chuẩn quốc tế của thành phố, dưới sự quản lý bởi tập đoàn
                    Accor danh tiếng – nơi luôn đề cao sự phục vụ chuyên nghiệp và giám sát kỹ lưỡng trong mọi
                    dịch
                    vụ tiện ích, nhằm mang đến chất lượng tốt nhất cho du khách. Không những thế, Novotel còn là
                    một
                    trong những khách sạn cao nhất Đà Nẵng, với nhiều điểm đến thú vị như nhà hàng đẳng cấp quốc
                    tế,
                    quầy bar tầng thượng hạng có thể bao quát toàn cảnh thành phố và là khách sạn tiên phong
                    trong
                    dịch vụ căn hộ cao cấp.</p>

                <p class="text-justify">Vì vậy, Novotel Danang Premier Han River là lựa chọn hoàn hảo dù bạn đi
                    công tác hay nghỉ dưỡng.
                    Đội ngũ nhân viên chuyên nghiệp và nồng hậu của chúng tôi rất mong được tiếp đón Quý khách.
                </p>

                <ul style="padding: 0; list-style: none;">
                    <li>Cách sân bay Quốc tế Đà Nẵng: 6 km (20 phút)</li>
                    <li>Cách ga Đà Nẵng: 1 km (5 phút)</li>
                    <li>Cách quốc lộ 1A: 4 km (10 phút)</li>
                </ul>
            </div>
            <div class="col-5">
                <h3 class="my-4 text-center text-primary">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i> Novotel Danang Premier Han River
                </h3>
                <ul style="list-style: none; ">
                    <li>36 Bach Dang Street, Hai Chau District, Danang City</li>
                    <li>Vietnam</li>
                    <li>Điện Thoại: +84 (0)236 392 9999</li>
                    <li>Fax: +84 (0)236 392 9998</li>
                    <li>Email: H8287@accor.com</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="my-4 py-4 bg-light" style="padding: 0 12px;">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <img class="p-0"
                        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/19/5e/39/28/khach-s-n-elizabeth.jpg?w=600&h=300&s=1"
                        alt="Phòng nghỉ">
                </div>
                <div class="row">
                    <h5 class="text-justify">Tất cả các phòng nghỉ tại Novotel Danang Premier Han River đều được
                        thiết kế đặc biệt rộng rãi với phong cách...</h5>
                    <a href="/public-are/listroom.html" class="mx-auto w-25 btn btn-outline-primary">Chi tiết</a>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <img class="p-0"
                        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/0d/0c/27/lac-long-hotel-hai-phong.jpg?w=600&h=300&s=1"
                        alt="Phòng nghỉ">
                </div>
                <div class="row">
                    <h5 class="text-justify">Tất cả các phòng nghỉ tại Novotel Danang Premier Han River đều được
                        thiết kế đặc biệt rộng rãi với phong cách...</h5>
                    <a href="/public-are/listroom.html" class="mx-auto w-25 btn btn-outline-primary">Chi tiết</a>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <img class="p-0"
                        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/19/f4/35/2d/saigon-hotel.jpg?w=600&h=300&s=1"
                        alt="Phòng nghỉ">
                </div>
                <div class="row">
                    <h5 class="text-justify">Tất cả các phòng nghỉ tại Novotel Danang Premier Han River đều được
                        thiết kế đặc biệt rộng rãi với phong cách...</h5>
                    <a href="/public-are/listroom.html" class="mx-auto w-25 btn btn-outline-primary">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>


    <!-- map -->
    <h1 style="text-align: center; color: rgb(6, 6, 250); font-size: 30px">
        VỊ TRÍ
    </h1>
    <h2 style="text-align: center; color: black; font-size: 20px">
        ĐỊA CHỈ: : 36 Bach Dang Street, Hai Chau District, Danang City,
        Vietnam
    </h2>
    <h2 style="text-align: center; color: black; font-size: 20px">
        ĐIỆN THOẠI:: +84 (0)236 392 9999 - FAX: +84 (0)236 392 9998
    </h2>

    <div class="container-flurd my-4">
        <div id="map"></div>
    </div>

    <div class="">
        <h1 style="text-align: center; color: rgb(6, 6, 250); font-size: 30px">
            THEO DÕI CHÚNG TÔI
        </h1>
        <h2 style="text-align: center; color: black; font-size: 20px">
            Kết nối và theo dõi chúng tôi
        </h2>
        <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-outline-primary mx-2">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="#" class="btn btn-outline-primary mx-2">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#" class="btn btn-outline-primary mx-2">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <script>
        var $ = document.querySelector.bind(document)
        // AIzaSyC85HnxiQNyzr0xVhDHSR49Ispc8Aa_bRM
        function initMap() {
            var location = { lat: 16.0466947, lng: 131.044 };
            var map = new google.maps.Map($('#map'), {
                zoom: 4,
                center: location
            });
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC85HnxiQNyzr0xVhDHSR49Ispc8Aa_bRM&callback=initMap"></script>
</th:block>