<th:block layout:fragment="content" layout:decorate="~{home/layouts/index}">
    <form class="border rounded shadow h-auto mx-auto p-4" style="width: 35%" id="form-verify">
        <h3 class="text-center text-primary my-4 fw-bolder">
            Cảm ơn quý khách đã tin tưởng và sử dụng các dịch vụ của chúng tôi. <br>
            Xin cảm ơn.
        </h3>
        <a href="/home/room" class="nav-link mb-3 text-center" id="btn-verify">
            Nhấn vào đây để xem những loại phòng mới và sang trọng
        </a>
    </form>
</th:block>