<th:block layout:fragment="content" layout:decorate="~{auth/layouts/index}">
    <form class="border rounded shadow h-auto mx-auto p-4" id="form-login" style="width: 35%" action="/handle_login"
        method="post">
        <h3 class="text-center text-primary my-3">
            ĐĂNG NHẬP
        </h3>

        <div class="mb-3">
            <label for="username" class="form-label text-primary">Tên đăng nhập</label>
            <input type="text" class="form-control" id="username" name="username" required>
            <p class="text-danger text-center" id="username-message" style="font-size: 12px"></p>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label text-primary">Mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <p class="text-danger text-center" id="password-message" style="font-size: 12px"></p>
        </div>

        <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="remember-me">
            <label class="form-check-label text-primary" for="flexCheckDefault">
                Lưu mật khẩu
            </label>
        </div>

        <div class="">
            <p class="text-danger text-center" id="log-message" style="font-size: 12px">
                [[${session.log_authentication}]]
            </p>
        </div>

        <div class="d-grid gap-2">
            <div id="btn-login">
                <button class="btn btn-primary w-100" id="btn-submit-login" type="submit">
                    <span class="spinner-register" role="status" aria-hidden="true"></span>
                    Đăng nhập
                </button>
            </div>
            <div class="d-flex justify-content-between hstack gap-2">
                <a href="#" class="text-center">Quên mật khẩu?</a>
                <a href="/register" class="text-center">Bạn chưa có tài khoản?</a>
            </div>
            <hr>
        </div>

        <div class="d-flex justify-content-between">
            <a href="/oauth2/authorization/google" style="width: 45%" class="btn btn-outline-danger">
                <i class="fa fa-google" aria-hidden="true"></i> GOOGLE
            </a>
            <a href="/oauth2/authorization/facebook" style="width: 45%" class="btn btn-outline-primary">
                <i class="fa fa-facebook" aria-hidden="true"></i> FACEBOOK
            </a>
        </div>
    </form>
    <script>
        var $ = document.querySelector.bind(document);
        var $$ = document.querySelectorAll.bind(document);

        var formLogin = $('#form-login')
        var btnLogin = $('#btn-login')
        var spinnerRegister = $('.spinner-register');
        var btnSubmitLogin = $('#btn-submit-login')

        btnLogin.addEventListener('click', (e) => {
            btnLogin.setAttribute('disabled', 'disabled');
            spinnerRegister.className = "spinner-border spinner-border-sm"
        })

        //Validate
        var inputUsername = $('#username')
        var inputPassword = $('#password')
        var logMessage = $('#log-message')
        var usernameMessage = $('#username-message')
        var passwordMessage = $('#password-message')

        function validate(input, message, invalid) {
            input.addEventListener('blur', (e => {
                if (!input.checkValidity()) {
                    message.innerHTML = input.validationMessage
                } else {
                    message.innerHTML = invalid
                }
            }))
        }

        validate(inputUsername, usernameMessage, '')
        validate(inputPassword, passwordMessage, '')

    </script>
</th:block>