<th:block layout:fragment="content" layout:decorate="~{auth/layouts/index}">

    <form class="border rounded shadow h-auto mx-auto p-4" style="width: 35%" id="form-register" name="form-register">
        <h3 class="text-center text-primary my-3">
            ĐĂNG KÝ
        </h3>

        <div class="mb-3">
            <label for="name" class="form-label text-primary">Họ & tên</label>
            <input type="text" class="form-control" name="name" id="name" required autofocus>
            <p class="text-danger text-center" id="name-message" style="font-size: 12px"></p>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label text-primary">Tên đăng nhập</label>
            <input type="text" class="form-control" name="username" id="username" required>
            <p class="text-danger text-center" id="username-message" style="font-size: 12px"></p>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label text-primary">Email</label>
            <input type="email" class="form-control" name="email" id="email" required>
            <p class="text-danger text-center" id="email-message" style="font-size: 12px"></p>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label text-primary">Mật khẩu</label>
            <input type="password" class="form-control" id="password" required min="6"
                placeholder="Tối thiểu 8 ký tự, ít nhất 1 ký tự hoa, 1 ký tự viết thường, 1 số và 1 ký tự đặc biệt">
            <p class="text-danger text-center" id="password-message" style="font-size: 12px"></p>
        </div>

        <div class="mb-3">
            <label for="re-password" class="form-label text-primary">Xác nhận mật khẩu</label>
            <input type="password" class="form-control" name="password" id="re-password" required min="6">
            <p class="text-danger text-center" id="re-password-message" style="font-size: 12px"></p>
        </div>

        <p class="text-danger text-center" id="log-message" style="font-size: 12px"></p>

        <div class="d-grid gap-2">
            <button class="btn btn-primary my-4 " type="button" id="btn-register">
                <span class="spinner-register" role="status" aria-hidden="true"></span>
                Đăng ký
            </button>
            <a href="/login" class="text-center">Bạn đã có tài khoản?</a>
            <hr>
        </div>


        <div class="d-flex justify-content-between">
            <a href="/oauth2/authorization/google" style="width: 45%" class="btn btn-outline-danger">
                <i class="fa fa-google" aria-hidden="true"></i> GOOGLE
            </a>
            <a href="/oauth2/authorization/facebook" style="width: 45%" class="btn btn-outline-primary">
                <i class="fa fa-facebook" aria-hidden="true"></i> FACEBOOK
            </a>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script>
        var $ = document.querySelector.bind(document);
        var $$ = document.querySelectorAll.bind(document);

        var spinnerRegister = $('.spinner-register');
        var formRegister = $('#form-register')
        var btnRegister = $('#btn-register')


        var nameMessage = $('#name-message')
        var usernameMessage = $('#username-message')
        var emailMessage = $('#email-message')
        var passwordMessage = $('#password-message')
        var rePasswordMessage = $('#re-password-message')

        var logMessage = $('#log-message')

        var nameInput = $('#name')
        var usernameInput = $('#username')
        var emailInput = $('#email')
        var passwordInput = $('#password')
        var rePasswordInput = $('#re-password')

        btnRegister.addEventListener('click', (e) => {
            if (nameMessage.innerText == '' &&
                usernameMessage.innerText == '' &&
                emailMessage.innerText == '' &&
                passwordMessage.innerText == '' &&
                rePasswordMessage.innerText == '') {

                btnRegister.setAttribute('disabled', 'disabled');

                var formData = new FormData(formRegister);

                formData.append("account", new Blob(
                    [JSON.stringify({
                        'name': formData.get('name'),
                        'username': formData.get('username'),
                        'email': formData.get('email'),
                        'password': formData.get('password')
                    })], {
                    type: "application/json"
                }))

                spinnerRegister.className = "spinner-border spinner-border-sm"

                fetch('/register', {
                    method: 'POST',
                    body: formData
                })
                    .then(resp => {
                        if (resp.status === 200) {
                            window.location.href = "http://localhost:8081/register/success"
                        } else {
                            btnRegister.removeAttribute('disabled');
                            spinnerRegister.className = 'spinner-register'
                            alert("Fail Validate")
                        }
                    })
                    .catch(err => {
                        alert("Error")
                    })
            } else {
                logMessage.innerHTML = 'Đăng ký tài khoản thất bại'
            }
        })


        //validation Message

        function validate(input, message, invalid) {
            input.addEventListener('blur', (e => {
                if (!input.checkValidity()) {
                    message.innerHTML = input.validationMessage
                } else {
                    message.innerHTML = invalid
                }
            }))
        }

        function validateRegex(regex, input, message, invalid, illegal) {
            input.addEventListener('blur', (e) => {
                if (!regex.test(input.value)) {
                    message.innerHTML = illegal
                } else {
                    message.innerHTML = invalid
                }
            })
        }

        function isExistUsername(usernameI, message, invalid) {
            fetch(`http://localhost:8081/api/account`)
                .then(resp => resp.json())
                .then(customers => {

                    usernameI.addEventListener('blur', (e => {
                        if (customers.some((customer) => { return customer.username == usernameI.value })) {
                            message.innerHTML = 'Tên đăng nhập đã tồn tại'
                            console.log('Tên đăng nhập đã tồn tại')
                        } else {
                            if (!/^[a-zA-Z0-9_-]{5,64}$/.test(usernameI.value)) {
                                message.innerHTML = 'Không hợp lệ'
                            } else {
                                message.innerHTML = invalid
                            }
                            console.log('Tên đăng nhập chưa tồn tại')
                        }
                    }))

                })
        }

        function isExistEmail(emailI, message, invalid) {
            fetch(`http://localhost:8081/api/account`)
                .then(resp => resp.json())
                .then(customers => {

                    emailI.addEventListener('blur', (e => {
                        if (customers.some((customer) => { return customer.email == emailI.value })) {
                            message.innerHTML = 'Email đã tồn tại'
                        } else {
                            if (!/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(emailI.value)) {
                                message.innerHTML = 'Không hợp lệ'
                            } else {
                                message.innerHTML = invalid
                            }
                        }
                    }))
                })
        }

        validateRegex(/^([\p{L}'][ \p{L}'-]*[\p{L}]){3,}$/u, nameInput, nameMessage, '', 'Không hợp lệ')
        validateRegex(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/, passwordInput, passwordMessage, '', 'Không hợp lệ')
        isExistUsername(usernameInput, usernameMessage, '')
        isExistEmail(emailInput, emailMessage, '')
        rePasswordInput.addEventListener('blur', (e) => {
            if (rePasswordInput.value == passwordInput.value) {
                rePasswordMessage.innerHTML = ''
            } else {
                rePasswordMessage.innerHTML = 'Mật khẩu không trùng khớp!'
            }
        })

    </script>
</th:block>