<th:block layout:fragment="content" layout:decorate="~{auth/layouts/index}">
    <form class="border rounded shadow h-auto mx-auto p-4" style="width: 35%" id="form-verify">
        <h3 class="text-center text-danger my-4 fw-bolder">
            Xin lỗi, chúng tôi không thể xác minh tài khoản.
            Nó có thể đã được xác minh,
            hoặc mã xác minh không chính xác.
        </h3>
        <a href="/login" class="nav-link mb-3 text-center" id="btn-verify">
            Nhấn vào đây để đăng nhập
        </a>
    </form>
</th:block>