<th:block layout:fragment="content" layout:decorate="~{admin/layouts/index}">
    <div class="vstack gap-3">
        <h3 class="text-primary fw-bolder text-uppercase">Quản lý phòng</h3>
        
        <hr>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin/room-managements/room">Quản lý phòng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/room-managements/room/add">Thêm phòng mới</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/roomtype-managements/roomtype">Quản lý loại phòng</a>
            </li>
        </ul>

        <div class="border rounded-3 shadow bg-light p-3">
            <div class="hstack gap-3 mb-3" id="reduce-room">
                <a th:href="@{'/admin/room-managements/room/page/1?sortField=id&sortDir='+${sortDir}+'&keyword'}"
                    class="btn text-light text-center border rounded-3 p-2 w-25 fs-6" style="background-color: #95a721">
                    Tất cả: <p style="margin-bottom: 0">[[${COUNT_ROOM}]]</p></a>

                <a th:href="@{'/admin/room-managements/room/page/1?sortField=id&sortDir='+${sortDir}+'&keyword=EMPTY'}"
                    class="btn text-light text-center border rounded-3 p-2 w-25 fs-6" style="background-color: #0d6efd">
                    Trống: <p style="margin-bottom: 0" id="state-empty"></p></a>

                <a th:href="@{'/admin/room-managements/room/page/1?sortField=id&sortDir='+${sortDir}+'&keyword=USING'}"
                    class="btn text-light text-center border rounded-3 p-2 w-25 fs-6" style="background-color: #198754">
                    Đang ở: <p style="margin-bottom: 0" id="state-using"></p></a>

                <a th:href="@{'/admin/room-managements/room/page/1?sortField=id&sortDir='+${sortDir}+'&keyword=DEPOSIT'}"
                    class="btn text-light text-center border rounded-3 p-2 w-25 fs-6" style="background-color: #8540f5">
                    Đặt cọc: <p style="margin-bottom: 0" id="state-deposit"></p></a>

                <a th:href="@{'/admin/room-managements/room/page/1?sortField=id&sortDir='+${sortDir}+'&keyword=CHECKIN'}"
                    class="btn text-light text-center border rounded-3 p-2 w-25 fs-6" style="background-color: #087990">
                    Checkin: <p style="margin-bottom: 0" id="state-checkin"></p></a>

                <a th:href="@{'/admin/room-managements/room/page/1?sortField=id&sortDir='+${sortDir}+'&keyword=CHECKOUT'}"
                    class="btn text-light text-center border rounded-3 p-2 w-25 fs-6" style="background-color: #984c0c">
                    Checkout: <p style="margin-bottom: 0" id="state-checkout"></p></a>

                <a th:href="@{'/admin/room-managements/room/page/1?sortField=id&sortDir='+${sortDir}+'&keyword=REPAIR'}"
                    class="btn text-light text-center border rounded-3 p-2 w-25 fs-6" style="background-color: #6c757d">
                    Sửa chữa: <p style="margin-bottom: 0" id="state-repair"></p></a>
            </div>

            <div class="hstack gap-3 d-flex justify-content-between">
                <div class="hstack gap-4 w-50">
                    <div class="btn-group w-25">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Tầng ([[${MAX_FLOOR}]])
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Tất cả</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <th:block th:each="i : ${#numbers.sequence(1, MAX_FLOOR)}">
                                <li><a class="dropdown-item" href="#">Tầng [[${i}]]</a></li>
                            </th:block>
                        </ul>
                    </div>
                    <div class="btn-group  w-25">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Loại phòng ([[${COUNT_ROOMTYPE}]])
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    th:href="@{'/admin/room-managements/room/page/1?sortField=id&sortDir='+${sortDir}+'&keyword='}">Tất
                                    cả</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <th:block th:each="roomType, state : ${rooms_type}">
                                <li><a class="dropdown-item"
                                        th:href="@{'/admin/room-managements/room/page/1?sortField=id&sortDir='+${sortDir}+'&keyword='+${roomType.id}}">[[${roomType.name}]]</a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                    <div class="btn-group w-25">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Sắp xếp
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    th:href="@{'/admin/room-managements/room/page/1?sortField=id&sortDir='+${sortDir}+'&keyword'}">Tất
                                    cả</a></li>
                            <th:block th:each="i : ${#numbers.sequence(1, COUNT_ROOMTYPE)}">
                                <li><a class="dropdown-item"
                                        th:href="@{'/admin/room-managements/room/page/1?sortField=id&sortDir='+${sortDir}+'&keyword=RT'+${i}}">Tầng
                                        [[${i}]]</a></li>
                            </th:block>
                        </ul>
                    </div>
                    <div class="btn-group  w-25">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Chiều
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Tăng dần</a></li>
                            <li><a class="dropdown-item" href="#">Giảm dần</a></li>
                        </ul>
                    </div>
                </div>
                <form class="input-group" id="form-search" style="width: 40%;" required>
                    <input type="hidden" name="sortField" th:value="${sortField}">
                    <input type="hidden" name="sortDir" th:value="${sortDir}">
                    <input class="form-control form-control-sm" placeholder="Tìm kiếm ..."
                        aria-describedby="button-addon2" name="keyword" th:value="${keyword}" type="search"
                        aria-label="Search">
                    <button class="btn btn-outline-primary btn-sm" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
        <hr>
        <div class="mb-3 p-3 border shadow rounded-3">
            <div class="row g-4 mb-3">
                <th:block th:each="room, state : ${rooms}">

                    <div class="col-2">
                        <div class="border rounded-3 vstack gap text-center p-2 room-box"
                            style="font-size: 14px; color: white; min-height: 260px;" th:id="${room.id}">
                            <div class="hstack  d-flex justify-content-between">
                                [[${state.count}]]
                                <div class="hstack gap-1">
                                    <a class="btn btn-outline-dark btn-sm text-light" style="min-width: 31px;" href="#">
                                        <i class="fa fa-bell-o" aria-hidden="true"></i></a>
                                    <a class="btn btn-outline-dark btn-sm text-light" style="min-width: 31px;"
                                        th:href="@{'/admin/room-managements/room/'+${room.id}}">
                                        <i class="fa fa-info" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <input type="hidden" class="room-id" th:value="${room.id}">
                            <h5>[[${room.name}]]</h5>
                            <p class="">[[${room.roomState}]]</p>
                            <p class="name"><i class="fa fa-user" aria-hidden="true"></i> Chưa có</p>
                            <p class="start-date"><i class="fa fa-calendar" aria-hidden="true"></i> Chưa có</p>
                            <p class="end-date"><i class="fa fa-calendar" aria-hidden="true"></i> Chưa có</p>
                            <div class="hstack gap-3 d-flex justify-content-center features"
                                th:title="${room.roomState}" th:id="${room.id}">
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>

            <!-- Xử lý phân trang -->
            <div class="hstack gap-3 d-flex justify-content-between">
                <p>Số trang: [[${totalPage}]] - Số phòng: [[${totalElement}]] - Hiện tại: [[${currentPage}]] - Sắp xếp:
                    [[${sortField}]] - Chiều: [[${sortDir}]]</p>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled" th:if="${currentPage == 1}">
                            <a class="page-link"
                                th:href="@{'/admin/room-managements/room/page/1?sortField=id&sortDir='+${sortDir}+'&keyword='+${keyword}}">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="page-item" th:unless="${currentPage == 1}">
                            <a class="page-link"
                                th:href="@{'/admin/room-managements/room/page/1?sortField=id&sortDir='+${sortDir}+'&keyword='+${keyword}}">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="page-item disabled" th:if="${currentPage == 1}">
                            <a class="page-link"
                                th:href="@{'/admin/room-managements/room/page/'+${currentPage-1}+'?sortField=id&sortDir='+${sortDir}+'&keyword='+${keyword}}">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="page-item" th:unless="${currentPage == 1}">
                            <a class="page-link"
                                th:href="@{'/admin/room-managements/room/page/'+${currentPage-1}+'?sortField=id&sortDir='+${sortDir}+'&keyword='+${keyword}}">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <th:block th:each="i : ${#numbers.sequence(1, totalPage)}">
                            <li class="page-item active" th:if="${currentPage == i}">
                                <span class="page-link">[[${i}]]</span>
                            </li>
                            <li class="page-item" th:unless="${currentPage == i}">
                                <a class="page-link"
                                    th:href="@{'/admin/room-managements/room/page/'+${i}+'?sortField=id&sortDir='+${sortDir}+'&keyword='+${keyword}}">[[${i}]]</a>
                            </li>
                        </th:block>
                        <li class="page-item disabled" th:if="${currentPage == totalPage}">
                            <a class="page-link"
                                th:href="@{'/admin/room-managements/room/page/'+${currentPage+1}+'?sortField=id&sortDir='+${sortDir}+'&keyword='+${keyword}}">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="page-item" th:unless="${currentPage == totalPage}">
                            <a class="page-link"
                                th:href="@{'/admin/room-managements/room/page/'+${currentPage+1}+'?sortField=id&sortDir='+${sortDir}+'&keyword='+${keyword}}">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="page-item disabled" th:if="${currentPage == totalPage}">
                            <a class="page-link"
                                th:href="@{'/admin/room-managements/room/page/'+${totalPage}+'?sortField=id&sortDir='+${sortDir}+'&keyword='+${keyword}}">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="page-item" th:unless="${currentPage == totalPage}">
                            <a class="page-link"
                                th:href="@{'/admin/room-managements/room/page/'+${totalPage}+'?sortField=id&sortDir='+${sortDir}+'&keyword='+${keyword}}">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>

    <script>
        var $ = document.querySelector.bind(document)
        var $$ = document.querySelectorAll.bind(document)

        var reduceRoom = $('#reduce-room')
        var features = Array.from($$('.features'))
        

        //Hàm gọi api
        function fetchAPI(url, method, body) {
            fetch(url, {
                method,
                body: JSON.stringify(body),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            })
                .then(resp => {
                    resp.json()
                    if (resp.status === 200) {
                        if (resp.redirected) {
                            window.location.href = resp.url;
                        }
                    } else {
                        alert('Fail Validate!')
                    }
                })
                .catch(err => alert('Error!'))
        }

        var countEmpty = countRepair = countUsing = countCheckin = countCheckout = countDeposit = 0
        features.forEach((element) => {
            console.log(element.id)
            if (element.title == 'EMPTY') {
                element.parentElement.style.backgroundColor = '#0d6efd'
                countEmpty++
                element.innerHTML = `
                        <a class="btn btn-outline-dark btn-sm text-light" href="#" title="đặt"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <a class="btn btn-outline-dark btn-sm text-light" href="#" title="checkin"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                        <a class="btn btn-outline-dark btn-sm text-light btn-repair" href="#" id="${element.id}" title="Sửa chữa"><i class="fa fa-wrench" aria-hidden="true"></i></i></a>
                        `
            } else if (element.title == 'REPAIR') {
                element.parentElement.style.backgroundColor = '#6c757d'
                countRepair++
                element.innerHTML = `
                    <a class="btn btn-outline-dark btn-sm text-light btn-cancel" id="${element.id}" href="#" title="Khôi phục"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                `
            } else if (element.title == 'USING') {
                element.parentElement.style.backgroundColor = '#198754'
                countUsing++
                element.innerHTML = `
                        <a class="btn btn-outline-dark btn-sm text-light btn-checkout" id="${element.id}" href="#" title="checkout"><i class="fa fa-sign-out"
                            aria-hidden="true"></i></a>
                        <a class="btn btn-outline-dark btn-sm text-light" href="#" title="dịch vụ"><i class="fa fa-diamond"
                            aria-hidden="true"></i></a>
                        `
            } else if (element.title == 'CHECKIN') {
                element.parentElement.style.backgroundColor = '#087990'
                countCheckin++
                element.innerHTML = `
                        <a class="btn btn-outline-dark btn-sm text-light" href="#" title="đặt"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <a class="btn btn-outline-dark btn-sm text-light btn-cancel" id="${element.id}" href="#" title="hủy"><i class="fa fa-ban" aria-hidden="true"></i></a>
                        `
            } else if (element.title == 'CHECKOUT') {
                element.parentElement.style.backgroundColor = '#984c0c'
                countCheckout++
                element.innerHTML = `
                        <a class="btn btn-outline-dark btn-sm text-light" href="#" title="đặt"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <a class="btn btn-outline-dark btn-sm text-light btn-cancel" id="${element.id}" href="#" title="hủy"><i class="fa fa-ban" aria-hidden="true"></i></a>
                        `
            } else if (element.title == 'DEPOSIT') {
                element.parentElement.style.backgroundColor = '#8540f5'
                countDeposit++
                element.innerHTML = `
                        <a class="btn btn-outline-dark btn-sm text-light" href="#" title="checkin"><i class="fa fa-sign-in"
                            aria-hidden="true"></i></a>
                        <a class="btn btn-outline-dark btn-sm text-light btn-cancel" id="${element.id}" href="#" title="hủy"><i class="fa fa-ban" aria-hidden="true"></i></a>
                        `
            }
            $('#state-empty').innerText = countEmpty
            $('#state-using').innerText = countUsing
            $('#state-deposit').innerText = countDeposit
            $('#state-checkin').innerText = countCheckin
            $('#state-checkout').innerText = countCheckout
            $('#state-repair').innerText = countRepair
        })

        fetch(`http://localhost:8081/api/room/room-show-admin`)
            .then(resp => resp.json())
            .then(rooms => {
                var roomBox = Array.from($$('.room-box'))
                rooms.forEach(room => {
                    roomBox.forEach((element) => {
                        if ($(`#${element.id} .room-id`).value == room.id) {
                            $(`#${element.id} .name`).innerHTML = `<i class="fa fa-user" aria-hidden="true"></i> `+room.nameCustomer
                            $(`#${element.id} .start-date`).innerHTML = '<i class="fa fa-calendar" aria-hidden="true"></i> '+new Date(room.startDate).toLocaleDateString('en-us', {  day:"numeric",month:"short", year:"numeric" }) 
                            $(`#${element.id} .end-date`).innerHTML = '<i class="fa fa-calendar" aria-hidden="true"></i> '+new Date(room.endDate).toLocaleDateString('en-us', {  day:"numeric",month:"short", year:"numeric" }) 
                        }
                    })
                })
            })

        var btnCancel = Array.from($$('.btn-cancel'))
        var btnRepair = Array.from($$('.btn-repair'))
        var btnCheckout = Array.from($$('.btn-checkout'))


        btnCheckout.forEach((element) => {
            element.addEventListener('click', e => {
                var room = { id: element.id }
                var k = confirm("Bạn có chắc khách hàng muốn trả phòng không?")
                if (k) {
                    fetchAPI(`/admin/room-managements/room/tran/handle-using-to-empty`, `PUT`, room)
                } else return
            })
        })

        btnCancel.forEach((element) => {
            element.addEventListener('click', e => {
                var room = { id: element.id}
                var k = confirm("Bạn có muốn hủy phòng này không?")
                if (k) {
                    fetchAPI(`/admin/room-managements/room/tran/handle-cancel`, `PUT`, room)
                    console.log(room)
                } else return
            })
        })

        btnRepair.forEach((element) => {
            element.addEventListener('click', e => {
                var room = { id: element.id }
                var k = confirm("Bạn có muốn báo phòng này đang sửa chữa không?")
                if (k) {
                    fetchAPI(`/admin/room-managements/room/tran/handle-repair`, `PUT`, room)
                } else return
            })
        })



    </script>
</th:block>