<th:block th:fragment="canvas">
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="20" id="offcanvasWithBothOptions"
        aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="">
            <h5 class="text-primary text-center">
                Đặt phòng
            </h5>
        </div>
        <div class="offcanvas-body">

            <div class="mb-3 row">
                <label for="start-date" class="col-sm-4 col-form-label">Đặt phòng</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" id="start-date">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="end-date" class="col-sm-4 col-form-label">Trả phòng</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" id="end-date">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="adults" class="col-sm-4 col-form-label">Người lớn</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="adults">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="children" class="col-sm-4 col-form-label">Trẻ em</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="children">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Mã ưu đãi</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputPassword">
                </div>
            </div>

            <div class="my-4 row">
                <a href="/home/checkin" class="mx-auto btn btn-outline-primary w-35">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Đặt phòng
                </a>
            </div>
        </div>
    </div>
</th:block>