<th:block th:fragment="footer">
    <div class="footer mt-2">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="font-style: 20px">TIN TỨC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="font-style: 20px">HỖ TRỢ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="font-style: 20px">BẢN TIN</a>
            </li>
        </ul>
        <div class="end" style="text-align: center">
            <h1 style="text-align: center; color: black; font-size: 32px">
                PI NETWORK DANANG PREMIER
            </h1>
            <h2 style="text-align: center; color: black; font-size: 18px">
                36 Bach Dang Street, Hai Chau District, Danang City, Vietnam
            </h2>
            <h2 style="text-align: center; color: black; font-size: 18px">
                ĐIỆN THOẠI:: +84 (0)236 392 9999 - FAX: +84 (0)236 392 9998
            </h2>
            <p style="text-align: center; font-size: 10px">
                PI NETWORK Danang Premier - Khách sạn cho gia đình và công việc
            </p>
        </div>
    </div>
</th:block>