<th:block th:fragment="header">
    <div class="d-flex align-items-center justify-content-between container">
        <img class="" style="width: 80px;"
            src="https://b.thumbs.redditmedia.com/49mRBNOkrrQG87BAMPebUiPNUba44YnOFKxRkBNAMFo.png" alt="logo">
        <h3 class="text-uppercase fw-bold text-primary">Chào mừng đến với khách sạn ...</h3>
        <div>
            <div class="hstack gap-3" th:if="${session.account == null}">

                <a href="#" class="">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>

                <a href="#" class="">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                </a>

                <a href="#" class="">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </a>

                <a href="/login" class="btn btn-sm btn-outline-primary">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập
                </a>
            </div>
            <div class="hstack gap-3" th:unless="${session.account == null}">
                <div class="">
                    <a href="#" class="position-relative">
                        <i class="fa fa-bell" aria-hidden="true"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            4
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </a>
                </div>

                <div class="">
                    <a href="#" class="position-relative">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            4
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </a>
                </div>

                <div class="vr"></div>

                <div class="dropdown hstack gap-2">
                    <a class="nav-link" href="#" th:text="${session.account.name}" style="padding: 0px;"></a>
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" 
                    data-bs-toggle="dropdown" aria-expanded="false"  style="padding: 0px;">
                        <img class="rounded-circle ms-2" style="width: 40px;" th:src="${session.account.avatar}"
                            th:alt="${session.account.name}">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" th:text="${session.account.name}"></a></li>
                        <li><a class="dropdown-item" href="#">Hồ sơ</a></li>
                        <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                        <li><a class="dropdown-item" href="#">Blog</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        var $ = document.querySelector.bind(document)
        var $$ = document.querySelectorAll.bind(document)


    </script>
</th:block>