<th:block th:fragment="sidebar">
    <div class="collapsing collapse-horizontal" id="myCollapse" style="border-radius: 0px;">
        <div class="card card-body d-flex flex-column p-3 text-white bg-dark" style="width: 280px; height: 100vh">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none">
                <img style="width:40px" class="rounded-circle"
                    src="https://thumbs.dreamstime.com/b/modern-black-line-art-mountain-hotel-logo-design-template-modern-black-line-art-mountain-hotel-logo-design-164322233.jpg" alt="">
                <div class="ms-2 text-light">COTS Hotel</div>
            </a>
            <hr class="text-light">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item  hover-link">
                    <a href="/home" class="nav-link text-light">
                        <i class="me-2 fa fa-home" aria-hidden="true"></i>
                        Trang chủ
                    </a>
                </li>
                <li class="nav-item  hover-link">
                    <a href="/admin/news" class="nav-link text-light">
                        <i class="me-2 fa fa-newspaper-o" aria-hidden="true"></i>
                        Tin tức
                    </a>
                </li>
                <li class="nav-item  hover-link">
                    <a href="/admin/dashboard" class="nav-link text-light">
                        <i class="me-2 fa fa-tachometer" aria-hidden="true"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item  hover-link">
                    <a href="/admin/customer-managements/account-customer" class="nav-link text-light">
                        <i class="me-2 fa fa-user-circle-o" aria-hidden="true"></i>
                        Khách hàng
                    </a>
                </li>
                <li class="nav-item  hover-link">
                    <a href="/admin/internal-managements/account" class="nav-link text-light">
                        <i class="me-2 fa fa-users" aria-hidden="true"></i>
                        Nội bộ
                    </a>
                </li>
                <li class="nav-item  hover-link">
                    <a href="/admin/room-managements/room" class="nav-link text-light">
                        <i class="me-2 fa fa-bed" aria-hidden="true"></i>
                        Phòng
                    </a>
                </li>
                <li class="nav-item  hover-link">
                    <a href="/admin/invoice-managements/invoice" class="nav-link text-light">
                        <i class="me-2 fa fa-credit-card" aria-hidden="true"></i>
                        Hoá đơn
                    </a>
                </li>
                <li class="nav-item  hover-link">
                    <a href="/admin/statistical-managements/statistical" class="nav-link text-light">
                        <i class="me-2 fa fa-table" aria-hidden="true"></i>
                        Thống kê
                    </a>
                </li>
                <li class="nav-item  hover-link">
                    <a href="/admin/service-managements/service" class="nav-link text-light">
                        <i class="me-2 fa fa-futbol-o" aria-hidden="true"></i>
                        Dịch vụ
                    </a>
                </li>
            </ul>
            <hr class="text-light">
            <div class="dropdown d-flex align-items-center">
                <img th:src="${session.account.getShowAvatar()}" class="rounded-circle" style="width: 35px"
                    th:alt="${session.account.name}">
                <a class="dropdown nav-link text-light fs-6" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false" th:text="${session.account.name}">
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#" th:text="${session.account.name}"></a></li>
                    <li><a class="dropdown-item" th:href="@{'/profile?id='+${session.account.id}}">Hồ sơ</a></li>
                    <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                    <li><a class="dropdown-item" href="#">Blog</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </div>
</th:block>